.logo {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 60px;
}

body {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
}

#content-container {
  padding-top: 30px;
}
